#main.home{
    position: absolute;
    top: 0;
    width: 100%;
}
#main .slick-slider .slick-slide section{
    height: 100vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
/**************  #Sec0  *******************/
#Sec0 .sect-inner {
    width: 100%;
    height: 100%;
}
#Sec0 .sect-inner .home-slider{
    width: 100%;
    height: 100vh;
}
#Sec0 .sect-inner .home-slider .slick-list{
    height: 100vh;
}
#Sec0 .sect-inner .home-slider .slick-list .slick-slide{
    height: 100vh;
}
#Sec0 .sect-inner .home-slider .slick-list .slick-slide >div{
    height: 100%;
    width: 100%;
}
#Sec0 .sect-inner .home-slider .slick-list .slick-slide .main-item{
    height: 100vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
#Sec0 .slick-slide .main-item .main-text{
    width: 70%;
    overflow: hidden;
    padding: 24px;
    border: 8px solid #000;

}
#Sec0 .slick-slide .main-item .main-text .type{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color:black;
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    border-right: 2px solid #000;
}

.home-slider .slick-active .main-item .main-text .type.txt01{
    animation: mainType1 4s steps(30) 0.2s 1 normal both,
    blankText 0.4s steps(30) infinite normal;
  }
.home-slider .slick-active .main-item .main-text .type.txt02{
    animation: mainType2 4s steps(30) 0.2s 1 normal both,
    blankText 0.4s steps(30) infinite normal;
}
  
.home-slider .slick-active .main-item .main-text .type.txt03{
    animation: mainType3 4s steps(30) 0.2s 1 normal both,
    blankText 0.4s steps(30) infinite normal;
}
.home-slider .slick-active .main-item .main-text .type.txt04{
    animation: mainType4 4s steps(30) 0.2s 1 normal both,
    blankText 0.4s steps(30) infinite normal;
}
  
  
  @keyframes mainType1 {
    0%{width: 0;} 100%{width: 58%;}
  }
  
  @keyframes mainType2 {
    0%{width: 0;} 100%{width: 65%;}
  }
  
  @keyframes mainType3 {
    0%{width: 0;} 100%{width: 72%;}
  }
  @keyframes mainType4 {
    0%{width: 0;} 100%{width: 76%;}
  }
  
  @keyframes blankText {
    0%{border-right-color: rgba(0,0,0,0.6);}
    100%{border-right-color:transparent}
  }

/**************  #Sec1  *******************/


#Sec1 .sect-inner {
width: 70%;
position: relative;
margin: 0 auto;
}
#Sec1 .sect-inner .myphoto {
margin: 0 auto;
width: 100%;
height: 200px;
background: #ddd;
display: none;
}

#Sec1 .sect-inner .sect-title{
font-size: 40px;
font-weight: bold;
padding-top: 60px;
}

#Sec1 .sect-inner .sect-content {
display: flex;
}

#Sec1 .sect-inner .cont-left {
width: 55%;
}
#Sec1 .sect-inner .text01{
padding: 18px 0;
}
#Sec1 .sect-inner .text01 span{
color: black;
font-weight: bold;
font-size: 24px;
}

.cont-left .diagram{
position: relative;
height: 220px;
margin-left: 20%;
width: 80%;
margin-bottom: 40px;
}

.cont-left .diagram .circle{
width: 220px;
height: 220px;
position: absolute;
top: 12px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.cont-left .diagram .circle .unit{
position: absolute;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #C4C4C4;
opacity: 0.2;
}

.cont-left .diagram .circle.left .kr{
padding-right: 36px;
}
.cont-left .diagram .circle.left .eng{
padding-right: 36px;
}

.cont-left .diagram .circle.right .kr{
padding-left: 36px;
}
.cont-left .diagram .circle.right .eng{
padding-left: 36px;
}


.cont-left .diagram .circle.left{
left: 34px;
}

.cont-left .diagram .circle.right{
right: 34px;
}

.cont-left .desc{
margin-top: 24px;
margin-left: 20%;
line-height: 1.5;
font-size: 15px;
}

#Sec1 .sect-inner .cont-right {
width: 40%;
margin-left: 5%;
height: 330px;
position: relative;
}
#Sec1 .sect-inner .cont-right .myImage{
position: absolute;
top: -45px;
left: 0;
width: 330px;
height: 330px;
border-radius: 50%;
background: #ddd;
}
  
/**************  #Sec2 *******************/

.home #Sec2 .sect-inner{
width: 100%;
height: 100%;
position: relative;
}

.home #Sec2 .sect-inner .grid{
width: 100%;
height: 100%;
}

.home #Sec2 .sect-inner .grid span{
position: absolute;
top: 0;
width: 1px;
height: 0%;
transition: 0.8s 0.2s;
background-color: #eaeaea;
}
.home #Sec2 .sect-inner .grid.active span{
height: 100%;
bottom: auto;
}

#Sec2 .sect-inner .grid .line01{left: 10%;}
#Sec2 .sect-inner .grid .line02{left: 32%;}
#Sec2 .sect-inner .grid .line03{left: 40%;}
#Sec2 .sect-inner .grid .line04{left: 62%;}
#Sec2 .sect-inner .grid .line05{left: 70%;}
#Sec2 .sect-inner .grid .line06{left: 92%;}

#Sec2 .sect-inner .sec2-content{
position: absolute;
top: 0; left: 0;
width: 100%;
height: 100%;
}

.sec2-content .sec2-text{
position: absolute;
left: 10%;
bottom: 50%;
width: 40%;

}
.sec2-content .sec2-text h3{
font-size: 48px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
}


.sec2-content .port-box{
position: absolute;
width: 22%;
}
.sec2-content .port-box.box01{
bottom: 0;
height: 300px;
left: 10%;

}

.sec2-content .port-box.box02{
bottom: 0;
height: 250px;
left: 40%;
}
.sec2-content .port-box.box03{
bottom: 0%;
height: 400px;
left: 70%;
}

.sec2-content .port-box .port-img{
width: 100%;
height: 100%;
position: relative;
}


.sec2-content .port-box.box03 .port-img{
height: 100%;
}
.port-box .port-img img{
position: absolute;
display: block;
top: 0;
left: 0;
height: 100%;

transition: 0.3s 0.4s;
}
.sec2-content .port-box.box02 .port-img img{
width: 100%;
}
.sec2-content-mb{
display: flex;
}



@media screen and (max-width:1920px) and (min-width:1301px){

#Sec1 .cont-left .diagram .circle{
    width: 220px; height: 220px;
}
#Sec1 .cont-left .diagram .circle.left{
    left: 34px;
}
#Sec1 .cont-left .diagram .circle.right{
    right: 34px;
}
}

@media screen and (max-width:1300px){
#Sec1 .cont-left .diagram{height: 190px;}
#Sec1 .cont-left .diagram .circle{
    width: 190px; height: 190px;
}
#Sec1 .cont-left .diagram .circle.left{
    left: 26px;
}
#Sec1 .cont-left .diagram .circle.right{
    right: 26px;
}
#main-slider .main-item .main-text{
    width: 55%;
}
}
@media screen and (max-width:1150px){
#Sec1 .cont-left .diagram{
    margin-left: 8%;
    width: 92%;
}

}
  