/**************  #Sec1  *******************/
#main {
    position: absolute;
    top: 110px;
    width: 100%;
}
   

#Sec1 .sect-inner {
  width: 80%;
  position: relative;
  margin: 0 auto;
}


#Sec1 .sect-inner .sect-title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 80px;
}

#Sec1 .sect-inner .sect-content {
  display: flex;
}

#Sec1 .sect-inner .cont-left {
  width: 55%;
}
#Sec1 .sect-inner .text01{
  padding: 18px 0;
  padding-bottom: 24px;
  text-align: center;
}
#Sec1 .sect-inner .text01 span{
  color: black;
  font-weight: bold;
  font-size: 24px;
}

.cont-left .desc{
  max-width: 350px;
  width: 100%;
  margin-left: auto;
  margin-top: 24px;
  line-height: 1.5;
  font-size: 15px;
}
  
#Sec1 .sect-inner .cont-right {
  width: 40%;
  margin-left: 5%;
  height: 330px;
  position: relative;
}
#Sec1 .sect-inner .cont-right .myImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  background: #ddd;
}
/********  #Section2  **********/
#Sec2 .sect-inner {
  width: 80%;
  position: relative;
  margin: 0 auto;
  display: flex;
  padding: 60px 0;
}

#Sec2 .sect-inner .sect-title{
  text-align: right;
  font-size: 40px;
  font-weight: bold;
  flex-basis: 40%;
}

#Sec2 .sect-inner .my-list{
  margin-left: 30px;
  flex-basis: calc(60% - 30px);
}

#Sec2 .sect-inner .my-list ul li{
  padding: 12px 0;
}
#Sec2 .sect-inner .my-list ul li  span{
  display: block;
}
#Sec2 .sect-inner .my-list ul li  span:nth-child(1){
  padding-bottom: 6px;
}



/********  #Section3   **********/


#Sec3 .sect-inner {
    width: 80%;
    position: relative;
    margin: 0 auto;
    padding: 40px 0;
}
  
  
#Sec3 .sect-inner .sect-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
}
  
#Sec3 .sect-inner .sect-content {
  display: flex;
  justify-content: center;
  margin-top: 30px; flex-wrap: wrap;
}
.sect-content .card{
  position: relative;
  display: flex;
  justify-content: center; align-items: center;
  flex-basis: 25%; height: 180px; text-align: center;
}
.sect-content .card .percent{
  position: relative;
  width: 150px; height: 150px;
  border-radius: 50%;
  z-index: 10;
}

.percent svg{
  position: relative; width: 150px; 
  height: 150px; z-index: 100;
}

.percent svg circle{
  width: 100%; height: 100%; fill: none;
  stroke: #ececec;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
}

.card:nth-child(1) .percent svg circle{
  stroke-dashoffset: calc(440 - (440*90) / 100);
}
.card:nth-child(2) .percent svg circle{
  stroke-dashoffset: calc(440 - (440*90) / 100);
}
.card:nth-child(3) .percent svg circle{
  stroke-dashoffset: calc(440 - (440*90) / 100);
}
.card:nth-child(4) .percent svg circle{
  stroke-dashoffset: calc(440 - (440*90) / 100);
}
.card:nth-child(5) .percent svg circle{
  stroke-dashoffset: calc(440 - (440*90) / 100);
}
.card:nth-child(6) .percent svg circle{
  stroke-dashoffset: calc(440 - (440*90) / 100);
}

.percent .data{
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  display: flex; justify-content: center;
  align-items: center;
  flex-direction: column;
}
.percent .data .number{
  font-size: 24px; color: #777;
}
.percent .data .number span{
  font-size: 14px;
}
.percent .data .text{
  font-size: 16px; color: #777;
}

.stickbar-wrap{
  display: flex;
  width: 100%;
  padding: 40px 0;
}

.stickbar-wrap .stickBar{
  flex-basis: 46%;
}
.stickbar-wrap .stickBar:nth-child(1){
  margin-right: 8%;
}

.stickbar-wrap .stickBar li{
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 18px;
}
.stickbar-wrap .stickBar li h4{
  flex-basis: 30%;
  color: #777;
  padding-right: 20px;
  text-align: right;
}
.stickbar-wrap .stickBar .bar {
  flex-basis: calc(70% - 20px);
  background: #eeeeee;
  display: block;
  height: 10px;
  width: calc(70% - 20px);
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.stickbar-wrap .stickBar .bar .per{
  position: absolute;
  top: 0; left: 0;
  background: #888;
  border-radius: 5px;
  height: 10px;
  
}
.bar01{
  width: 90%;
}

.stickBar>.bar>.bar02{
  width: 94%;
}

.stickBar>.bar>.bar03{
  width: 87%;
}


/********  section04  **********/
#Sec4 .sect-inner {
  width: 70%;
  position: relative;
  margin: 0 auto;
  padding: 40px 0;
}

#Sec4 .sect-inner .sect-content{
  display: flex;
}
#Sec4 .sect-inner .cont-left{
  flex-basis: 45%;
}
#Sec4 .sect-inner .cont-right{
  flex-basis: 50%;
  padding-left: 5%;
  box-sizing: border-box;
  position: relative;
}
#Sec4 .sect-inner .cont-right::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #ddd;
}

#Sec4 .sect-inner .cont-left .intro-menu li{
  padding-bottom: 18px;
  
}
#Sec4 .sect-inner .cont-left .intro-menu li a{
  font-size: 600;
}
#Sec4 .sect-inner .cont-right .tabbox{
  line-height: 1.5;
}


/********  반응형  **********/

@media screen and (max-width:1024px){
  #Sec1 .cont-left .diagram .circle{
    width: 190px; height: 190px;
  }
  #Sec1 .sect-inner{width: 80%;}
  #main-slider .main-item .main-text p{font-size: 43px;}
  
}
@media screen and (max-width:880px){
  #Sec1 .sect-inner .sect-title{text-align: center;}
  .cont-left .diagram .circle.left{left: 14px;}
  .cont-left .diagram .circle.right{right: 14px;}
  #Sec1 .sect-inner .text01{text-align: center;}
  #Sec1 .sect-inner .cont-right .myImage{height: 280px ; width: 280px; top: 0;}
}

@media screen and (max-width:800px){
  #Sec1 .sect-inner,#Sec2 .sect-inner, #Sec3 .sect-inner{width: 90%;}
  .cont-left .diagram{margin-bottom: 24px;}
  .cont-left .diagram .circle.left{left: 10px;}
  .cont-left .diagram .circle.right{right: 10px;}
  #Sec1 .sect-inner .cont-right{height: 260px;}
  #Sec1 .sect-inner .cont-right .myImage{height: 260px ; width: 260px; top: 0;}
}

@media screen and (max-width:660px){
  #Sec1 .sect-inner .sect-title{padding-top: 30px;}
  #Sec1 .cont-left .diagram {height: 180px;}
  #Sec1 .cont-left .diagram .circle{ width: 160px; height: 160px;}
  #Sec1 .sect-inner .cont-right{height: 230px;}
  #Sec1 .sect-inner .cont-right .myImage{height: 230px ; width: 230px; }

}

@media screen and (max-width:480px){
  #Sec1 .sect-inner .sect-title{margin-bottom: 40px;}
  #Sec1 .sect-inner .cont-left{width: 100%;}
  #Sec1 .sect-inner{
    margin: 0 16px;
    width: calc(100% - 32px);
  }
  #Sec1 .sect-inner .cont-right{display: none;}
  #Sec2 .sect-inner .sect-title{font-size: 36px; display: none;}
  #Sec2 .sect-inner {display: block;}
  #Sec2 .sect-inner .my-list{
    margin-left: 0;
  }
  .stickbar-wrap .stickBar li{display: block;}
  .stickbar-wrap .stickBar li h4{
    padding-right: 0; text-align: left; margin-bottom: 12px;
  }
  .stickbar-wrap .stickBar .bar{
    position: relative; transform: translateY(0);
    width: 100%;
  }
  #Sec2 .sect-inner{
    margin: 0 16px;
    width: calc(100% - 32px);
    padding-top: 40px;
    padding-bottom: 30px;
  }
  #Sec3 .sect-inner{
    margin: 0 16px;
    width: calc(100% - 32px);
    padding-top: 0;
    padding-bottom: 30px;
  }
  #Sec4 .sect-inner{margin: 0 16px; width: calc(100% - 32px);}
  #Sec4 .sect-inner .sect-content{display: none;}
}


