/**************  #Sec1  *******************/
#main {
    position: absolute;
    top: 110px;
    width: 100%;
}
   

#Sec1_about .sect-inner {
  width: 80%;
  position: relative;
  margin: 0 auto;
}


#Sec1_about .sect-inner .sect-title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-top: 60px;
  margin-bottom: 40px;
}

#Sec1_about .sect-inner .sect-content {
  display: flex;
}

#Sec1_about .sect-inner .cont-left {
  width: 55%;
}
#Sec1_about .sect-inner .text01{
  padding: 18px 0;
  padding-bottom: 24px;
  text-align: center;
}
#Sec1_about .sect-inner .text01 span{ 
  color: black;
  font-weight: bold;
  font-size: 24px;
}

#Sec1_about .cont-left .desc{
  max-width: 480px;
  width: 100%;
  margin-left: auto;
  margin-top: 24px;
  line-height: 1.5;
  font-size: 15px;
}
  
#Sec1_about .sect-inner .cont-right {
  width: 40%;
  margin-left: 5%;
  height: 330px;
  position: relative;
}
#Sec1_about .sect-inner .cont-right .myImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  background: #ddd;
}
/********  #Section2  **********/
#Sec2_about .sect-inner {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

#Sec2_about .sect-inner .tab-title{
  display: flex;
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

#Sec2_about .sect-inner .tab-title h2{
  color: #888;
  
  
}
#Sec2_about .sect-inner .tab-title button{
  margin-left: auto;
  width: 36px; height: 36px; border-radius: 50%;
  background: #ececec;
  position: relative;

}

#Sec2_about .sect-inner .tab-title .tabbtn img{
  position: absolute;
  top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0.6) rotate(90deg);
  width: 100%; height: 100%;
}

#Sec2_about .sect-inner .tab-container{
  height: 0; overflow: hidden;
}

#Sec2_about .sect-inner .tab-container.open{
  animation: slidedown 1s 1 ease-in-out forwards;
  overflow: hidden;
}

#Sec2_about .sect-inner .tab-container.close{
  animation: slideup 1s 1 ease-in-out forwards;
}

@keyframes slidedown{
  0%{height: 0;}
  100%{height: 300px;}
}
@keyframes slideup{
  0%{height: 300px;}
  100%{height: 0;}
}

#Sec2_about .sect-inner .tab-title .tabbtn.open{
  animation: rotatedown 0.7s 1 linear forwards;
}

#Sec2_about .sect-inner .tab-title .tabbtn.close{
  animation: rotateup 0.7s 1 linear forwards;
}

@keyframes rotatedown {
  0%{transform: rotate(0);}
  100%{transform: rotate(180deg);}
}

@keyframes rotateup {
  0%{transform: rotate(180deg);}
  100%{transform: rotate(0);}
}


#Sec2_about .sect-inner .tab-container .sect-content{
  display: flex; padding: 30px 0;
}

#Sec2_about .sect-inner .sect-content .sect-text{
  text-align: right;
  font-size: 40px;
  font-weight: bold;
  flex-basis: 40%;
  color: #ddd;
}

#Sec2_about .sect-inner .my-list{
  margin-left: 30px;
  flex-basis: calc(60% - 30px);
}

#Sec2_about .sect-inner .my-list ul li{
  padding: 12px 0;
}
#Sec2_about .sect-inner .my-list ul li  span{
  display: block;
}
#Sec2_about .sect-inner .my-list ul li  span:nth-child(1){
  padding-bottom: 6px;
}



/********  #Section3   **********/


#Sec3_about .sect-inner {
    width: 80%;
    position: relative;
    margin: 0 auto;
}
  
  
#Sec3_about .sect-inner .sect-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
}

#Sec3_about .sect-inner .tab-title{
  display: flex;
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

#Sec3_about .sect-inner .tab-title h2{
  color: #888;
  
  
}
#Sec3_about .sect-inner .tab-title .tabbtn{
  margin-left: auto;
  width: 36px; height: 36px; border-radius: 50%;
  background: #ececec;
  position: relative;

}
#Sec3_about .sect-inner .tab-title .tabbtn.open{
  animation: rotatedown 0.7s 1 linear forwards;
}

#Sec3_about .sect-inner .tab-title .tabbtn.close{
  animation: rotateup 0.7s 1 linear forwards;
}

@keyframes rotatedown {
  0%{transform: rotate(0);}
  100%{transform: rotate(180deg);}
}

@keyframes rotateup {
  0%{transform: rotate(180deg);}
  100%{transform: rotate(0);}
}

#Sec3_about .sect-inner .tab-title .tabbtn img{
  position: absolute;
  top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0.6) rotate(90deg);
  width: 100%; height: 100%;
}

#Sec3_about .sect-inner .tab-container{
  height: 0; overflow: hidden;
}

#Sec3_about .sect-inner .tab-container.open{
  animation: slidedown2 1s 1 ease-in-out forwards;
  overflow: hidden;
}

#Sec3_about .sect-inner .tab-container.close{
  animation: slideup2 1s 1 ease-in-out forwards;
}

@keyframes slidedown2{
  0%{height: 0;}
  100%{height: 600px;}
}
@keyframes slideup2{
  0%{height: 600px;}
  100%{height: 0;}
}


  
#Sec3_about .sect-inner .sect-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#Sec3_about .sect-content .card{
  position: relative;
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  flex-basis: 25%; height: 300px; text-align: center;
}
#Sec3_about .sect-content .card .percent{
  position: relative;
  width: 150px; height: 150px;
  border-radius: 50%;
  z-index: 10;
}

#Sec3_about .sect-content .card .card-list{
  margin-top: 18px;
  height: 120px; padding: 0 12px;
}

#Sec3_about .sect-content .card .card-list ul li{
  font-size: 12px; word-break: keep-all;
}

#Sec3_about .percent svg{
  position: relative; width: 150px; 
  height: 150px; z-index: 100;
}

#Sec3_about .percent svg{
  position: relative; width: 150px; 
  height: 150px; z-index: 100;
}

#Sec3_about .percent svg circle{
  width: 100%; height: 100%; fill: none;
  stroke: #ececec;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
}

.card:nth-child(1) .percent svg circle{
  stroke-dashoffset: calc(440 - (440*90) / 100);
}
.card:nth-child(2) .percent svg circle{
  stroke-dashoffset: calc(440 - (440*90) / 100);
}
.card:nth-child(3) .percent svg circle{
  stroke-dashoffset: calc(440 - (440*90) / 100);
}
.card:nth-child(4) .percent svg circle{
  stroke-dashoffset: calc(440 - (440*90) / 100);
}
.card:nth-child(5) .percent svg circle{
  stroke-dashoffset: calc(440 - (440*90) / 100);
}
.card:nth-child(6) .percent svg circle{
  stroke-dashoffset: calc(440 - (440*90) / 100);
}

#Sec3_about .percent .data{
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  display: flex; justify-content: center;
  align-items: center;
  flex-direction: column;
}
.percent .data .number{
  font-size: 24px; color: #777;
}
.percent .data .number span{
  font-size: 14px;
}
.percent .data .text{
  font-size: 16px; color: #777;
}

#Sec3_about .stickbar-wrap{
  display: flex;
  width: 100%;
  padding: 40px 0;
}

.stickbar-wrap .stickBar{
  flex-basis: 46%;
}
.stickbar-wrap .stickBar:nth-child(1){
  margin-right: 8%;
}

.stickbar-wrap .stickBar li{
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 18px;
}
.stickbar-wrap .stickBar li h4{
  flex-basis: 30%;
  color: #777;
  padding-right: 20px;
  text-align: right;
}
.stickbar-wrap .stickBar .bar {
  flex-basis: calc(70% - 20px);
  background: #eeeeee;
  display: block;
  height: 10px;
  width: calc(70% - 20px);
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.stickbar-wrap .stickBar .bar .per{
  position: absolute;
  top: 0; left: 0;
  background: #888;
  border-radius: 5px;
  height: 10px;
  
}
#Sec3_about .bar01{
  width: 90%;
}

.stickBar>.bar>.bar02{
  width: 94%;
}

.stickBar>.bar>.bar03{
  width: 87%;
}


/********  section04  **********/
#Sec4_about .sect-inner {
  width: 80%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 100px;
}

#Sec4_about .sect-inner .tab-title{
  display: flex;
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

#Sec4_about .sect-inner .tab-title h2{
  color: #888;
  
  
}
#Sec4_about .sect-inner .tab-title button{
  margin-left: auto;
  width: 36px; height: 36px; border-radius: 50%;
  background: #ececec;
  position: relative;

}

#Sec4_about .sect-inner .tab-title .tabbtn img{
  position: absolute;
  top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0.6) rotate(90deg);
  width: 100%; height: 100%;
}

#Sec4_about .sect-inner .tab-container{
  height: 0; overflow: hidden;
}

#Sec4_about .sect-inner .tab-container.open{
  animation: slidedown3 1s 1 ease-in-out forwards;
  overflow: hidden;
}

#Sec4_about .sect-inner .tab-container.close{
  animation: slideup3 1s 1 ease-in-out forwards;
}

@keyframes slidedown3{
  0%{height: 0;}
  100%{height: 300px;}
}
@keyframes slideup3{
  0%{height: 300px;}
  100%{height: 0;}
}

#Sec4_about .sect-inner .tab-title .tabbtn.open{
  animation: rotatedown 0.7s 1 linear forwards;
}

#Sec4_about .sect-inner .tab-title .tabbtn.close{
  animation: rotateup 0.7s 1 linear forwards;
}

@keyframes rotatedown {
  0%{transform: rotate(0);}
  100%{transform: rotate(180deg);}
}

@keyframes rotateup {
  0%{transform: rotate(180deg);}
  100%{transform: rotate(0);}
}

#Sec4_about .sect-inner .sect-content{
  display: flex;
}
#Sec4_about .sect-inner .cont-left{
  flex-basis: 45%;
}
#Sec4_about .sect-inner .cont-right{
  flex-basis: 50%;
  padding-left: 5%;
  box-sizing: border-box;
  position: relative;
}
#Sec4_about .sect-inner .cont-right::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #ddd;
}

#Sec4_about .sect-inner .cont-left .intro-menu li{
  padding-bottom: 18px;
  
}
#Sec4_about .sect-inner .cont-left .intro-menu li a{
  font-size: 600;
}
#Sec4_about .sect-inner .cont-right .tabbox{
  line-height: 1.5;
}


/********  반응형  **********/


@media screen and (max-width:900px){
  #Sec1_about .sect-inner .cont-right .myImage{
    width: 300px; height: 300px;
  }
}

@media screen and (max-width:768px){
  #Sec1_about .sect-inner{width: 86%;}
  #Sec2_about .sect-inner{width: 86%;}
  #Sec3_about .sect-inner{width: 86%;}
  #Sec4_about .sect-inner{width: 86%;}
  #Sec1_about .sect-inner .cont-right{
    width: 42%; margin-left: 3%;
  }
  #Sec1_about .sect-inner .cont-right .myImage{
    width: 270px; height: 270px;
  }
  #Sec3_about .sect-inner .sect-content{justify-content: space-around;}
}
@media screen and (max-width:660px){
  #Sec2_about .sect-inner{width: 94%;}
  #Sec3_about .sect-inner{width: 94%;}
  #Sec4_about .sect-inner{width: 94%;}
  

  #Sec1_about .sect-inner .cont-left{width: 100%;}
  #Sec1_about .cont-left .desc{margin-left: 0;}
  #Sec1_about .sect-inner .cont-right{
    display: none;
  }
  .stickbar-wrap .stickBar:nth-child(1){margin-right: 4%;}
  .stickbar-wrap .stickBar{flex-basis: 48%;}
  #Sec2_about .sect-inner .sect-content{display: block;}
  #Sec2_about .sect-inner .sect-content .sect-text{display: none;}
  #Sec2_about .sect-inner .my-list{margin-left: 0; flex-basis: 100%;}
  #Sec3_about .sect-content .card .card-list{min-width: 140px;}
  
}


@media screen and (max-width:480px){
  #Sec2_about .sect-inner{margin: 0 16px; width: calc((100% - 32px));}
  #Sec3_about .sect-inner{margin: 0 16px; width: calc((100% - 32px));}
  #Sec4_about .sect-inner{margin: 0 16px; width: calc((100% - 32px));}
  
  @keyframes slidedown2{
    0%{height: 0;}
    100%{height: 1000px;}
  }
  @keyframes slideup2{
    0%{height: 1000px;}
    100%{height: 0;}
  }
}