#main {
    position: absolute;
    top: 110px;
    width: 100%;
    }




/***** package page*****/
#Sec0.package .sect-inner{
    width: 90%;
    margin: 0 auto;
}

#Sec0.package .sect-inner .sect-title{
    text-align: center;
    padding-bottom: 24px;
}


#Sec0.package .sect-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#Sec0.package .sect-content .card{
    flex-basis: calc((100% - 24px)/2);
    margin-bottom: 24px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    height: auto;
}

#Sec0.package .sect-content .card img{
    width: 100%;
    transform: scale(1.1);
}
#Sec0.package .sect-content .card:nth-child(2n){
    margin-left: 24px;
}

#Sec0.package .sect-content .card .hoverbg{
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    opacity: 0;
    transition: 0.4s;
}
#Sec0.package .sect-content .card:hover .hoverbg{
    opacity: 1;
}

#Sec0.package #modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Sec0.package #modal .img-area{
    width: 70%;
    height: 400px;
    
    overflow-y: scroll;
}

#Sec0.package #modal .img-area .img-box img{
    width: 100%;
    display: block;
}
#Sec0.package #modal #close-modal-btn{
    position: absolute;
    right: 36px;
    top: 36px;
    width: 36px;
    height: 36px;
}
#Sec0.package #modal #close-modal-btn span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #fff;
}

#Sec0.package #modal #close-modal-btn span:nth-child(1){
    transform: rotate(45deg);
}

#Sec0.package #modal #close-modal-btn span:nth-child(2){
    transform: rotate(-45deg);
}


/******** web page***********/
#Sec0.web .sect-inner{
    width: 80%;
    margin: 0 auto;
}

#Sec0.web .sect-inner .sect-title{
    text-align: center;
    padding-bottom: 24px;
}

#Sec0.web .sect-content .card{
    margin-bottom: 30px;
    display: flex
}
#Sec0.web .sect-content .card .project-img{
    width: 54%;
    border-radius: 8px;
    background: #ddd;
    position: relative;
    overflow: hidden;
}

#Sec0.web .sect-content .card .project-img img{
    width: 100%; display: block;
}

#Sec0.web .sect-content .card .project-img .hoverbg{
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    opacity: 0;
    transition: 0.4s;
}
#Sec0.web .sect-content .card .project-img:hover .hoverbg{
    opacity: 1;
}

#Sec0.web .sect-content .card .project-desc{
    margin-left: 6%;
    width: 40%;
}





@media screen and (max-width:800px){
    #Sec0.web .sect-inner{width: 90%;}
    #Sec0.web .sect-content .card .project-desc{
        font-size: 14px;
    }
}

@media screen and (max-width:660px){
    #Sec0.web .sect-content .card{
        display: block;
        width: 100%;
        margin-bottom: 40px;
    }
    #Sec0.web .sect-content .card .project-img{
        width: 100%;
    }
    #Sec0.web .sect-content .card .project-desc{
        width: 100%;
        margin-left: 0;
        padding-top: 24px;
    }
}

@media screen and (max-width:480px){
    
    

    #Sec0.package .sect-content .card{
        flex-basis: 100%;
    }
    #Sec0.package .sect-content .card:nth-child(2n){
        margin-left: 0;
    }

    #Sec0.package #modal .img-area{
        width: 100%;
        height: 100vh;
    }
}