#wrap.pc #header.pc{
    z-index: 100;
    position: absolute;
    width: 100%; top: 0; left: 0; right: 0;
    padding: 20px 3% 10px 4.948%;
    /* border-bottom: 1px solid #C5C5C5; */
    
  }
#header.change {
  background-color: #000;
  padding: 10px 3% 6px 4.948%;
}

#heade.change .header-wrap .header-inner .gnb > li{
  color: white;
}

#heade.change .header-inner h1 a{
  color: white;
}
#header.pc .header-wrap .header-inner{
  height: 50px;
  display: flex;
}

#header.pc .header-wrap .header-inner nav{
  margin-left: auto;
  width: 55%;
  max-width: 680px;
}

#header.pc .header-wrap .header-inner .gnb{
  display: flex; height: 50px;
}

#header.pc .header-wrap .header-inner .gnb > li{
  margin: 0 18px;
  flex: 1;
  position: relative;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  transition: 0.4s;
  transform: scale(1.0);
}

#header.pc .header-wrap .header-inner .gnb > li.active{
  transform: scale(1.2);
  font-weight: 500;
}

#header.pc .header-wrap .header-inner .btn-header {
  width: 36px; height: 36px; top: 30px; right: 30px;
  position: absolute;

}
#header.pc .header-wrap .header-inner .btn-header .line{
  position: absolute;
   left: 0; width: 100%; height: 4px; border-radius: 2px;
   background: #000;
}
#header.pc .header-wrap .header-inner .btn-header .line:nth-child(1){
  top: 0;
}

#header.pc .header-wrap .header-inner .btn-header .line:nth-child(2){
  top: 50%; transform: translateY(-50%);
}

#header.pc .header-wrap .header-inner .btn-header .line:nth-child(3){
  bottom: 0;
}




@media screen and (max-width:1024px){
  
}