#wrap.mobile{
    width: 100%;
    max-width: 1024px !important;
}


#main.home{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    max-width: 1024px;
    overflow: hidden;
}

#main.home > section{
    padding: 40px 0 ;
}


#main .slick-slider .slick-slide section{
    height: 100vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
/**************  #Sec0  *******************/

#main.home #Sec0{
    padding-top: 0;
    padding-bottom: 0;
}

#Sec0_main .sect-inner {
    width: 100%;
    height: 100%;
    position: relative;
}
#main > #Sec0_main, #Sec1_main, #Sec2_main, #Sec3_main{
    padding-bottom: 0;
}



#Sec0_main .sect-inner .home-slider{
    width: 100%;
    height: 100vh;
}
#Sec0_main .sect-inner .home-slider .slick-list{
    height: 100vh;
}
#Sec0_main .sect-inner .home-slider .slick-list .slick-slide{
    height: 100vh;
}
#Sec0_main .sect-inner .home-slider .slick-list .slick-slide >div{
    height: 100%;
    width: 100%;
}
#Sec0_main .sect-inner .home-slider .slick-list .slick-slide .main-item{
    height: 100vh;
    position: relative;
}
#Sec0_main .slick-slide .main-item .main-text-wrap{
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;

}
#Sec0_main .slick-slide .main-item .main-text .type{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color:black;
    text-transform: capitalize;
    font-size: 72px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    border-right: 2px solid #000;
}

#Sec0_main .slick-slide .main-item .sub-text{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    overflow: hidden;
    text-align: center;
    
}
#Sec0_main .slick-slide .main-item .sub-text span{
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    color: #727272;
    transform: translateY(100%);
    transition: 0.3s 3s;
    
}

#Sec0_main .slick-slide.slick-active .main-item .sub-text span{
    transform: translateY(0);
}

.home-slider .slick-active .main-item .main-text .type.txt01{
    animation: mainType1 3s steps(20) 0.2s 1 normal both,
    blankText 0.4s steps(30) infinite normal;
  }
.home-slider .slick-active .main-item .main-text .type.txt02{
    animation: mainType1 3s steps(20) 0.2s 1 normal both,
    blankText 0.4s steps(30) infinite normal;
}
  
.home-slider .slick-active .main-item .main-text .type.txt03{
    animation: mainType1 3s steps(20) 0.2s 1 normal both,
    blankText 0.4s steps(30) infinite normal;
}
.home-slider .slick-active .main-item .main-text .type.txt04{
    animation: mainType1 3s steps(20) 0.2s 1 normal both,
    blankText 0.4s steps(30) infinite normal;
}
  
  
  @keyframes mainType1 {
    0%{width: 0;} 100%{width: 100%;}
  }
  
  
  
  @keyframes blankText {
    0%{border-right-color: rgba(0,0,0,0.6);}
    100%{border-right-color:transparent}
  }

/**************  #Sec1  *******************/



@media screen and (max-width:1024px){
    #main.home > section{padding: 0;}
    #Sec0_main .slick-slide .main-item .main-text .type{font-size: 60px;}
    #Sec1_main .sect-inner .sect-content{display: block; margin-bottom: 80px;}
    #Sec2_main .sect-inner .sect-content .work-text{width: 100%; top: 18%;}
    #Sec3_main .sect-inner .sect-content .work-text{width: 100%;}
    

}
@media screen and (max-width:768px){

    #Sec0_main .slick-slide .main-item .main-text .type{font-size: 54px;}
    #Sec0_main .slick-slide .main-item .sub-text{bottom: -36px;}
    #Sec0_main .slick-slide .main-item .sub-text span{font-size: 15px;}
    #Sec1_main .sect-inner .text01{height: 144px;}
    #Sec1_main .sect-inner .cont-left .desc{margin-left: 0; margin-top: 12px;}
    #Sec2_main .sect-inner .sect-content .screen.pc{width: 70%;}
    #Sec2_main .sect-inner .sect-content .screen.tablet{width: 55%;}
}
@media screen and (max-width:600px){
    
    #Sec0_main .slick-slide .main-item .main-text .type{font-size: 44px;}
    #Sec2_main .sect-inner .sect-content .screen.pc{width: 80%;}
    #Sec2_main .sect-inner .sect-content .screen.tablet{width: 64%;}
    #Sec2_main .sect-inner .sect-content .screen.mobile{width: 70px;}
    
    
}

@media screen and (max-width:480px){
    
    #Sec0_main .slick-slide .main-item .sub-text span{font-size: 13px;}
    #Sec0_main .slick-slide .main-item .main-text .type{font-size: 42px;}
    #Sec0_main .sect-inner .name-intro{left: 16px; width: 70%;}
    #Sec0_main .sect-inner .name-intro p{font-size: 26px;}
    #Sec1_main .sect-inner{margin: 0 16px; width: calc(100% - 32px);}
    .home #Sec2_main .sect-inner{margin: 0 16px; width: calc(100% - 32px);}
    .home #Sec3_main .sect-inner{margin: 0 16px; width: calc(100% - 32px);}

    #Sec2_main .sect-head{height: 120px;}
    #Sec3_main .sect-head{height: 120px;}
}
@media screen and (max-width:400px){
    #Sec2_main .sect-inner .sect-content{height: 520px;}
    #Sec3_main .sect-inner .sect-content{height: 520px;}
}