#wrap.pc{
    width: 100%;
    min-width: 1024px;
}

/* progress bar */
#progress {
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index:99999;
    transition: 0.5s 0.6s ease-in-out;
    top: 0;
}

#progress.close{
    top: -100%;
}


#progress-bar {
    border-top:1px solid #fff;
    position: absolute;
    top: 50%; 
    width: 0%;
    opacity: 1;
}
#progress-bar.close{
    animation: fadeout 0.4s 1 linear forwards;
}

#progress-text {
    font-size: 14px;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    margin-top:10px;
    opacity: 1;
}

#progress-text.close{
    animation: fadeout 0.4s 1 linear forwards;
}

@keyframes fadeout {
    0%{opacity: 1;}
    100%{opacity: 0;}
}


#progress-bar.progress-complete {
    border-top-color: #ddd;
}


/* loading */
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

.loading-text {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: 'Quattrocento Sans', sans-serif;
}
.loading-text span:nth-child(1) {  
          filter: blur(0px);  
          animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
          filter: blur(0px);
          animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {  
          filter: blur(0px);
          animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
          filter: blur(0px);
          animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
          filter: blur(0px);
          animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {  
          filter: blur(0px);
          animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
          filter: blur(0px);
          animation: blur-text 1.5s 1.2s infinite linear alternate;
}


@keyframes blur-text {
  0% {    
            filter: blur(0px);
  }
  100% {    
            filter: blur(4px);
  }
}
